<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cariumur.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52D7DCB0216AFF1E00431ABF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52D7DCC4216AFF1F00431ABF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52D7DCCF216AFF1F00431ABF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
